/* Home page styling */ 
#video1{
    display: flex;
    display: inline-block;
}
/* Nav settings */
nav{
    display: flex;
    width: 100%;
}
nav div {
    padding: 10px;
}
/* For the pictures in the home page */ 
.img-container1{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.picture-grid{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-top: 40px;
}
.picture-grid > div{
width: 100%;
height: 300px;
display: flex;
margin: 10px;
box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
}
.picture-grid img{
  width: 30%;
  height: 100%;
  object-fit: contain;
}
.picture-grid p{
  height: 100%;
  width: 100%;
  padding: 5px;
}
/* media settings for the home page */
@media only screen and (max-width: 900px){
.picture-grid > div{
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
}
.picture-right{
  flex-direction: unset;
}
.picture-grid img{
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.picture-grid p{
  margin-top: 0px;
  height: 150px;
  padding: 5px;
  overflow-y: scroll;
}
}
.picture-right{
flex-direction: row-reverse;
}
/* Settings for the video on the home page */ 
.video-container {
    position: relative;
    height: 0;
    display: block;
    overflow: hidden;
    padding-bottom: 56.25%; 
}
.video-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Settings for the paragraphs on the home screen for the pictures */ 
.paragragh{
    margin: 0;
    width: 100%;
    height: 25%;
}
.paragragh p {
    margin: 0;
    padding: 0;
}
/* For the footer on the home page */ 
footer{
  background-color: #f38014;
  padding: 10px;
  text-align: center;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
/* Schedule page styling */ 
.table {
    width: 100%;
    max-width: 1200px; 
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  table {
    min-width: 600px; 
  }
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  th {
    background-color: #3d221267;
    color: #e96a03;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 5)
  }
  td {
    font-size: 16px;
    color: #f57600;
    outline-style: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 5)
  }
  tr:nth-child(even) {
    background-color: #cc7d3c9f;
  }
  /* Background picture for the schedule page */ 
  .schedule-page {
    background-image: url(Code/Photos/pexels-elina-fairytale-3822864.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .schedule-container{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  /* media container for mobile devices and tablets for the schedule */
  @media only screen and (max-width: 900px) {
    .schedule-container{
      width: 50%;
      max-width: 200px;
      padding: 20px;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
    }
    table{
      font-size: 14px;
    }
    th, td{
      padding: 8px;
    }
    tr:nth-child(even){
      border-left: none;
    }
    footer{
      flex-direction: column;
    }
    .address{
      font-size: 12px;
      margin-top: 10px;
    }
    .schedule-page {
      background-image: url(Code/Photos/pexels-elina-fairytale-3822864.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  /* Schedule page Address styling */ 
  .address{
    font-size: 17px;
    color: #ff7b00;
    padding: 20px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0,5);
  }
  /* Styling for the pricing page */ 
  .pricing-container {
    max-width: 1200px;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .pricing-card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    margin: 20px;
    width: 300px; 
  }
  .pricing-card h3{
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .pricing-features ul{
    list-style-type: none;
    padding: 0;
  }
  .pricing-features li{
    padding-bottom: 10px;
  }
  .pricing-price{
    text-align: center;
    margin-top: 20px; 
  }
  .pricing-price p{
    font-size: 24px;
    font-weight: bold;
  }
  .pricing-card p{
    color: #666;
    font-size: 16px;
  }
  .pricing-card button{
    background-color: #ff7f50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .pricing-card button:hover{
    background-color: #e65c36;
  }
  /* fixing the img for both the webbpage and other protable devices */ 
  body.pricing-page{
    background-image: url(Code/Photos/pexels-andrea-piacquadio-3775593.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media only screen and (max-width: 900px){
    body.pricing-page{
      background-size: auto;
    }
  }
  /* Styling for the Contact page */ 
  .contact-form{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .contact-form h2{
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
  }
  .contact-form label{
    display: block;
    margin-bottom: 10px;
    color: #666;
    font-weight: bold;
  }
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .contact-form button:hover{
    background-color: #e65c36;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll; 
  }
  .video-container4{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /* positioning of the video and adding it to the background */ 
  .video-container4 video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  .contact-container{
    position:  relative; 
    z-index: 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .contact-form{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 400px;
    max-width: 90%; 
    display: flex; 
    flex-direction: column; 
  }
  .contact-form h2{
    color: #333;
    font-size: 24px;
    margin-top: 0;
  }
  .contact-form label{
    display: block;
    margin-top: 10px;
    text-align: left;
  }
  .contact-form input,
  .contact-form select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .contact-form .form-footer{
    margin-top: auto; 
  }
  .contact-form input[type="submit"]{
    background-color: #ff7f50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  .contact-form input[type="submit"]:hover{
    background-color: #e65c36;
  }
  .contact-title{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 24px;
    z-index: 2; 
  }
  .contact-container{
    margin-top: 50px; 
  }
  .checkbox-group{
    display: flex;
    align-items: center;
  }
  .checkbox-group label{
    margin-right: 10px;
  }
  /* Fixing the positioning and styling of the navigation bar for all pages */
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 0;
    z-index: 2; 
  }
  nav div{
    display: inline-block;
    margin-right: 10px;
  }
  nav div a{
    color: #fff;
    text-decoration: none;
  }
  .nav-container{
    max-width: 100%;
    margin: 0;
  }
  .nav-container a {
    color: #fff;
    text-decoration: none;
  }
  .active {
    background-color: #ff7f50;
    text-decoration: underline;
  }
  .page-content{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    padding-top: 10px; 
  }
